/* ------------- DEFAULT -------------- */
:root {
  --font-dark-color--: #212529;
  --bg-light-color--: #f8f9fa;
  --bg-dark-color--: #1a1c28;
  --green-color--: #04AA6D;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  background: var(--bg-light-color--);
  color: var(--font-dark-color--);
  font-family: sans-serif;
  font-size: 1.2rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ---------- DEBUG ----------- */
#debug {
  width: calc(100% - 2em);
  text-align: center;
  background: #90763b;
  color: var(--bg-light-color--);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#debug p {
  margin: 0;
}
#debug .loading {
  width: 0;
  background: var(--bg-dark-color--);
  border-radius: 0 0 10px 10px;
}